1) Prepare a classification model using Naive Bayes 
for salary data 

Data Description:

age -- age of a person
workclass	-- A work class is a grouping of work 
education	-- Education of an individuals	
maritalstatus -- Marital status of an individulas	
occupation	 -- occupation of an individuals
relationship -- 	
race --  Race of an Individual
sex --  Gender of an Individual
capitalgain --  profit received from the sale of an investment	
capitalloss	-- A decrease in the value of a capital asset
hoursperweek -- number of hours work per week	
native -- Native of an individual
Salary -- salary of an individual

In [29]:
#import libraby
import pandas as pd
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split ,cross_val_score
import numpy as np

In [30]:
# load dataset
sal_train=pd.read_csv("E:\\DATA SCIENCE\\LMS\\ASSIGNMENT\\MY ASSIGNMENT\\SVM\\SalaryData_Train.csv")
# load dataset
sal_test=pd.read_csv("E:\\DATA SCIENCE\\LMS\\ASSIGNMENT\\MY ASSIGNMENT\\SVM\\SalaryData_Test.csv")

In [31]:
#check value of count of columns
sal_train['Salary'].value_counts()

 <=50K    22653
 >50K      7508
Name: Salary, dtype: int64

In [32]:
#check value of count of columns
sal_test['Salary'].value_counts()

 <=50K    11360
 >50K      3700
Name: Salary, dtype: int64

In [33]:
#check null value
sal_test.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [34]:
#check null value
sal_train.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [47]:
string_col=['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']

In [48]:
# we need to convert string columns using labelencoder
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in string_col:
    sal_train[i]=label_encoder.fit_transform(sal_train[i])
    sal_test[i]=label_encoder.fit_transform(sal_test[i])

In [49]:
sal_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0

In [50]:
#Threre are large dataset so split them.
train_x=sal_train.iloc[0:500,0:13]
train_y=sal_train.iloc[0:500,13]
test_x=sal_test.iloc[0:300,0:13]
test_y=sal_test.iloc[0:300,13]

In [70]:
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(train_x,train_y)
train_pred_m = classifier_mb.predict(test_x)
accuracy_train_m = np.mean(train_pred_m==test_y)*100
print("accuracy_train_m is =",accuracy_train_m)

accuracy_train_m is = 80.0

In [84]:
test_pred_m = classifier_mb.predict(train_x)
accuracy_test_m = np.mean(test_pred_m==train_y)
print("accuracy_test_m is =",accuracy_test_m*100)

accuracy_test_m is = 79.0

In [92]:
Train_pred_y=pd.DataFrame(test_pred_m)

In [81]:
# Gaussian Naive Bayes 
classifier_gb = GB()
classifier_gb.fit(train_x,train_y)
train_pred_g = classifier_gb.predict(train_x)
accuracy_train_g = np.mean(train_pred_g==train_y)
print("accuracy_train_m is =",accuracy_train_g*100)

accuracy_train_m is = 81.8

In [86]:
test_pred_g = classifier_gb.predict(test_x)
accuracy_test_g = np.mean(test_pred_g==test_y)
print("accuracy_test_g is =",accuracy_test_g*100)

accuracy_test_g is = 82.0